a {
    text-decoration: none;
    color: #444444;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}


.navbar {
    display: flex;
    background-color: #82adb9;
    width: 100%;
}

.logo {
    height: 100px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navitems {
    height: 100px;
    display: flex;
    flex: 5;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}


.content {
    height: 900px;
    display: flex;
    background-color: #cddee3;
    font-size: 60px;
    font-weight: 800;
    color: #444444;
    align-items: center;
    justify-content: center;
}

.footer {
    height: 100px;
    background-color: #82adb9;
}